section{
  margin: 0 auto;
}
/* mobile */
@media(max-width: 767px){
  section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div {
    border: solid 1px #999;
    box-sizing: border-box; 
    align-self: stretch;
  }   
}

@media(min-width:768px) and (max-width: 959px){
  section{
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  div {
    border: solid 1px #999;
    box-sizing: border-box; 
    align-self: flex-start;
  }   
}

/* desktop */
@media (min-width: 960px) {
  section {
    width: 960px;
    display: grid;
    grid-template-columns: 200px repeat(4,190px);
    grid-template-rows: 2fr 4fr 5fr 3fr;
  }
  div {
    border: solid 1px #999;
    /* background: #83e28b; */
    box-sizing: border-box; 
    /* float: left; */
    align-self: stretch;
  }  
}