

@media(max-width: 767px){

  .m-rect {
    width: 100%;
  }  
  
  .m-sq {
    width: 50%;
  }
}

@media(min-width:768px) and (max-width: 959px){

  .m-rect {
    width: 768px;
  }  
  
  .d-primary {
    width: 384px;
  }

  .d-secondary{
    width:192px;
  }
}

@media (min-width: 960px) {
  #a {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #b {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  #c {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #d {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  #e{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #f{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #g{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #h{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  #i {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .d-primary {
    width: 380px;
  }  

  .d-secondary {
    width: 190px;
  }

  .d-head{
    width:960px;
  }

  .d-aside{
    width:200px;
  }

  .d-foot{
    width:760px;
  }
  
}