

@media(max-width: 959px){

  .m-rect {
    width: 480px;
  }  
  
  .m-sq {
    width: 240px;
  }
}

@media (min-width: 960px) {

  .d-primary {
    width: 380px;
  }  

  .d-secondary {
    width: 190px;
  }

  .d-head{
    width:960px;
  }

  .d-aside{
    width:200px;
  }

  .d-foot{
    width:760px;
  }
  
}